html {
  font-size: 10px;
}

body {
  font-family: 'QuickSand', 'Lucida Sans', Verdana, sans-serif;
  font-size: $m-size; // 16px
  background-color: $dark-blue;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}
