html {
	font-size: 10px;
}

body {
	font-family: 'QuickSand', 'Lucida Sans', Verdana, sans-serif;
	font-size: $m-size; // 16px
	// background: #fd746c; /* fallback for old browsers */
	// background: linear-gradient(to right, #ff9068a6, #fd736c83);
}
